        <footer>
            <div class="footer-top">
                <img src="" alt="">
            </div>
            <div class="footer-middle">
                <ul>
                    <li><a href=""></a>💻</li>
                    <li><a href=""></a>☎</li>
                    <li><a href=""></a>💌</li>
                    <li><a href=""></a>📧</li>
                </ul>    
                <form class="newsletter-form">
                    <h2>Meld je aan voor de Plantswap nieuwsbrief!</h2>
                    <p>Geen spam, wel veel handige planten tips & tricks. (Je plantjes zullen je dankbaar zijn😉)</p>
                    <div class="info">
                      <input type="text" placeholder="Je naam">
                      <input type="email" placeholder="Je e-mail">
                    </div>
                    <input type="submit" value="Aanmelden🪴">
                </form>
            </div>      
            <div class="footer-bottom">
                <p>Met 💚 gemaakt door Tessa Viergever</p>
            </div>
        </footer>
    </body>

</html> 