<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantswap - Buurtcampus Oost</title>
</head>

<body>
    <header>
        <h1></h1>
    </header>

    <nav>
        <ul>
            <li><a href="/" aria-label=""></a></li>
            <li><a href="/" aria-label=""></a></li>
            <li><a href="/" aria-label=""></a></li>
            <li><a href="/" aria-label=""></a></li>
        </ul>
    </nav>

    <main>



</body>

</html>