<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Swap - Buurtcampus Oost</title>
    <!-- <link rel="stylesheet" href="/public/styles/styles.css"> -->
    <!-- <script src="" defer></script> -->
    <link rel="icon" type="image/x-icon" href="/public/images/logo-favicon/tijdelijkeFavicon.png">
</head>

<body>
    <header>
        <a href=""><img src="/public/images/logo-favicon/PlantSwap-logo-green.svg" alt="Het Plant Swap logo"></a>
        <nav class="main-navigation-menu">
            <ul>
                <li><a href="/" aria-label="">home</a></li>
                <li><a href="/" aria-label="">terug</a></li>
                <li><a href="/" aria-label="">item 1</a></li>
                <li><a href="/" aria-label="">item 2</a></li>
            </ul>
        </nav>
    </header>


    <main>


