<%- include('./partials/head') %>

    <h1>Project Plant Swap 🪴 | Buurtcampus Oost</h1>

    









    

    <!-- BUTTONS -->
    <button class="btn1"> Primary button</button>
    <button class="btn2"> Secondary button</button>
    <button class="btn3"> Tertiary button</button>
     









<%- include('./partials/foot') %>