* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-secondary: #56704a;
  --color-primary: #d5dbd2;
}

nav {
    list-style: none;
}

h1 {
  border: solid 2px black;
  background-color: blue;
}
