* {
  box-sizing: border-box;
  margin: 0;
}

 /* ================ ROOT/CUSTOM PROPERTIES ================ */

:root {
  --color-primary-light-green: #d5dbd2;
  --color-primary-white: rgba(255, 255, 255, 1);
  --color-secondary-green: rgba(86, 112, 74, 1);
  --color-tertiary-blue: rgb(49, 39, 113);


}


/* ================ HEADER STYLING ================ */

nav {
    list-style: none;
  }

/* ================ HEADINGS STYLING ================ */

h1 {
  border: solid 2px black;
  background-color: blue;
}


/* ================ BUTTONS STYLING ================ */

.btn1 {
    background-color: var(--color-secondary-green);
    color: var(--color-primary-white);
  } 
  
  .btn2 {
    background-color: var(--color-primary-white);
    border-style: solid var(--color-secondary-green);
    color: var(--color-secondary-green);
  }
  
  .btn3 {
    background-color: var(--color-primary-light-green);
    border-style: solid var(--color-secondary-green);
    color: var(--color-secondary-green)
  }



   /* ================ FOOTER STYLING ================*/

    /* ============ MEDIA QUERIES ================*/